/* Base Styles */
:root {
  --primary: #3B82F6;
  --secondary: #6366F1;
  --success: #10B981;
  --danger: #EF4444;
  --background: #E5E7EB;
  --surface: #FFFFFF;
  --text: #1E293B;
  --border: #E2E8F0;
}

[data-theme="dark"] {
  --primary: #60A5FA;
  --secondary: #818CF8;
  --background: #1A1A1A;
  --surface: #2D2D2D;
  --text: #FFFFFF;
  --border: #3D3D3D;
}

[data-theme="dark"] .status-success {
  background: #14532D;
  color: #BBF7D0;
}

[data-theme="dark"] .status-warning {
  background: #854D0E;
  color: #FEF08A;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.1s, color 0.1s, border-color 0.2s;
}

body {
  background: var(--background);
  color: var(--text);
}

 /* Sidebar Layout */
 .sidebar-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  background: var(--surface);
  padding: 1.5rem;
  border-right: 1px solid var(--border);
  position: sticky;
  top: 0;
  height: 100vh;
}

.nav-item {
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  cursor: pointer;
}

.nav-item:hover {
  background: var(--background);
}



/* DashBoard starts here */
 .main-content {
  padding: 2rem;
}

/* Header */
.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: var(--surface);
  border-radius: 8px; /* Optional: Add rounded corners */
  padding: 15px;
  width: 100%;
}

.header-controls {
  display: flex;
  gap: 1rem;
  align-items: center;  
}

.theme-btn {
  background: var(--surface);
  color: var(--text);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  cursor: pointer;
}

